.bgSelectedImg{
    background-color: #373737;
    width: 45%;
    height: 120%;
    border-radius: 15%;
}

.currentImg{
    max-width: 85%;
    border-radius: 15%;
    position: relative;
    top: -15%;
}

.img-slide{
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}