<ion-header class="ion-padding-horizontal ion-no-border">
  <ion-toolbar color="translucent">
    <ion-icon slot="start" name="arrow-back-outline" size="large" (click)="backButtonClick()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ipadding centerV">
    <ion-text color="darkgreen" style="text-align: center;">
      <h2><b>Upload a <br>profile picture</b></h2>
    </ion-text>
    <ion-text color="medium" style="text-align: center;" class="ion-margin-horizontal ion-margin-vertical">
      <h6>Sube una foto tuya o puedes seleccionar un avatar.</h6>
    </ion-text>

    <div class="centerVH ion-padding-vertical" style="text-align: center;">
      <div class="bgSelectedImg centerVH" style="column-gap: 10px;">
        <img [src]="imgNativePath?imgNativePath:'assets/sampleAvatar.jpg'" class="currentImg" >
        <ion-text color="light" class="ion-no-padding ion-no-margin smalltext">
          <p>{{currentUser.first_name}} {{currentUser.last_name}}</p>
          <ion-text style="color: var(--ion-color-darkgreen-tint);">
            <p>{{currentUser.ssnumber}}</p>
          </ion-text>
        </ion-text>
      </div>
    </div>

    <div class="centerVH">
      <ion-text color="dark">
        <p>Swipe to Select</p>
      </ion-text>
    </div>

    
      
      <ion-slide *ngFor="let card of [0,1,2,3,4,5,6]" >
        
      </ion-slide>
    
      <ul class="scroll">
        <div class="cards" *ngFor="let avatar of avatars" style="width: 100px; height: 100px; justify-content: center; align-items: center; border: none;">
              <ion-img [src]="avatar" style="border-radius: 15%; overflow: hidden; margin: 5% 5%;"></ion-img>
        </div>
        <div class="cards" style="width: 100px; height: 100px; justify-content: center; align-items: center; border: none;" (click)="presentActionSheet()">
          <div style="border-radius: 15%; overflow: hidden; margin: 5% 5%; height: 90px; width: 90px;">
            <label class="upload-block" style="vertical-align: middle; height: 90px; width: 90px">
              <div style="display: flex; justify-content: center; align-content: center; height: 100%; width: 100%; background-color: #fff;">
                <ion-icon name="add" style="font-size: 65px; margin: auto;" color="darkgreen"></ion-icon>
              </div>
              </label>
          </div>
        </div>
      </ul>

    <div style="display: inline-flex; flex-wrap: wrap; justify-content: space-evenly;">
      <ion-button shape="round" color="medium" fill="outline" style="margin-top: 10%; width: 45%;" class="ion-padding-vertical vh-btn" routerLink="/home">
        SKIP
      </ion-button>
      <ion-button shape="round" color="darkgreen" style="margin-top: 10%; width: 45%;" class="ion-padding-vertical vh-btn" (click)="confirmAndUpload()">
        CONFIRM
      </ion-button>
    </div>
  </div>
</ion-content>
