// .partidos{
//     height: 200px;
// }

// .eventCreator{
// 	font-size: 48px !important;
// }

// ion-tab-bar{
//     --border: none;
// }

ion-img{
    height: 59px;
}

.partidos{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
ion-footer {
// border-top: solid rgb(244, 244, 244) 1px;

}