<ion-header mode="md">
  <ion-toolbar color="darkgreen padding-uno">
    <h6>Eligue la fecha en la que quieres jugar</h6>
  </ion-toolbar>

  <ion-toolbar color="darkgreen" class="toolbar-espacial padding-uno-esp">
    <h2 class="ion-text-start">{{currentUser?currentUser.first_name:"Usuario"}}</h2>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-toolbar color="darkgreen" class="toolbar-espacial padding-uno">
    <h6>Eligue la fecha en la que quieres jugar
      <br>
      <h2>Iván</h2>
    </h6>
    <ion-buttons slot="end">

        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    
    
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" style="padding-left: 28px;">

  <div class="div" style="margin-left: 28px;">
    <ion-text color="dark" >
      <h4 class="poppins">Fecha</h4>
    </ion-text>
  </div>
 

  <ul class="scroll" >
    <div class="cards">
      <div class="card">
        <div class="centra">
          <span class="number">15</span>
          <span class="text">Friday</span>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <div class="centra">
          <span class="number">15</span>
          <span class="text">Friday</span>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <div class="centra">
          <span class="number">15</span>
          <span class="text">Friday</span>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <div class="centra">
          <span class="number">15</span>
          <span class="text">Friday</span>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <div class="centra">
          <span class="number">15</span>
          <span class="text">Friday</span>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <div class="centra">
          <span class="number">15</span>
          <span class="text">Friday</span>
        </div>
      </div>
    </div>
  </ul>

  <div class="div" style="margin-left: 28px;">
    <ion-text color="dark" >
      <h4 class="poppins">Partidos</h4>
    </ion-text>
  </div>

  
  <ion-card class="card-especial" routerLink="/matches-detail/{{match.id}}" *ngFor="let match of matches|async|matchPopulation">
    <ion-item color="marfil">
      <ion-buttons slot="start" >
        <ion-icon slot="icon-only" name="person-circle"> </ion-icon>
        <ion-text>{{match.match_date|date:'MM/dd'}}</ion-text>
      </ion-buttons>
      <ion-card-title color="darkgreen">{{match.match_field.field_name}}</ion-card-title>
    </ion-item>
    <ion-footer>
      <ion-row>
        <ion-col>
          <a><ion-icon name="calendar-clear-outline" color="azul"></ion-icon>
            <p class="color-azul">{{match.match_date | date:'mediumDate' }}<br/>{{match.match_date | date:'shortTime' }}</p></a>
        </ion-col>
        <ion-col>
          <a class="color-azul"><ion-icon name="time-outline" color="azul" ></ion-icon>
            <p class="color-azul">4km<br />2min</p></a>
        </ion-col>
        <!-- <ion-col>
          <a class="color-azul"><ion-icon name="time-outline" color="azul" ></ion-icon>
            <p class="color-azul">Lat:{{match.match_field.latitud}}<br />Long:{{match.match_field.longitud}}</p></a>
        </ion-col> -->
        <ion-col>
          <a class="color-azul"><ion-icon name="location-outline" color="azul"></ion-icon>
            <p class="color-azul">({{match.match_field.latitud}},<br/>{{match.match_field.longitud}})</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color="darkgreen" routerLink="/addfield">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
