.padding-uno {
  padding: 0px 28px;
}

.padding-uno-esp {
  padding: 0px 28px 2px 28px;
}


  ion-title {
    text-align: left;
    
  }
  
  ion-text {
    margin-left:10px;
    
  }

  .centra {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .text {
    color: #848a94;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }

  .number {
    color: #848a94;
    display: block;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
  }


.scroll {
  // height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll::-webkit-scrollbar {
  display: none;
}

ion-title {
  text-align: left;
}

ion-text {
  margin-left: 10px;
}


  
ion-icon,
p {
  display: inline-block;
  vertical-align: middle;
 
}

a {
  font-size: 11px;
}

ion-col{

  display: flex;
  justify-content: center;
  align-items: center;

}

p{
    margin-left: 10px;
}

.color-azul{
  color: #5B6897;
}

.texto-titulo {
  text-align: center;
  
}

.header-especial{
  display: flex; align-items: center; justify-content: center; 
  background-color: #F3F3F3;
}

//   .elemento{
//       width: 100%;
//   }
 


// DATEPICKER
ion-modal {
  --width: 290px;
  --height: 60%;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}

ul {
  padding-inline-start: 0px;
}