ion-input,
ion-select {
  border: 1px solid #d7d7d7 !important;
  border-radius: 5px;
  padding: 10px 15px;

  --padding-start: 9px !important;
  --padding-end: 9px !important;
  --padding-bottom: 15px !important;
  --padding-top: 15px !important;


}

.padding-uno{
  padding: 0px 28px ;
}

.padding-uno-esp{
  padding: 0px 28px 2px 28px;
}


ion-title {
  text-align: left;
  
}

ion-text {
  margin-left:10px;
  
}

.card-footer{
}
.container {
  display: table;
  position: relative;
  max-width: 30rem;
  padding: 1em 1em 1em 0;
  /* background: #111; */
 
  color: #ed3;
}
.stat{
  box-sizing: border-box;
  width: calc(100% / 3);
  float: left;
  text-align: center;
}

.stat .label{
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #ff0000;
}

.stat .value{
  display: block;
  font-weight: 700;
  font-size:20px;
  margin-top: 5px;
}

/* otro */
.icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.text {
  display: block;
  width: 80%;
  display: table-cell;
  vertical-align: middle;
}

.item.tabs {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.texto{
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}

ul {
  list-style: none;
}

ion-icon,
p {
  display: inline-block;
  vertical-align: middle;
 
}

a {
  font-size: 11px;
}

ion-col{

  display: flex;
  justify-content: center;
  align-items: center;

}

p{
    margin-left: 10px;
}

.color-azul{
  color: #5B6897;
}
