<ion-header mode="md">
  <ion-toolbar color="black" class="padding-toolbar">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ipadding centerV">

    <div class="centerVH ion-padding-vertical" style="text-align: center;">
      <div class="bgSelectedImg centerVH" style="column-gap: 10px;">
        <img [src]="currentUser?currentUser.picture_url:'/assets/sampleAvatar.jpg'" class="currentImg">
        <ion-text color="light" class="ion-no-padding ion-no-margin smalltext">
          <p>{{currentUser?""+currentUser.first_name+" "+currentUser.last_name:'Usuario'}}</p>
          <ion-text style="color: var(--ion-color-darkgreen-tint);">
            <p>{{currentUser?currentUser.ssnumber: "Ingrese su S.S. Number"}}</p>
          </ion-text>
        </ion-text>
      </div>
    </div>


    <ion-button (click)="toggleEdit()" expand="block" fill="outline" shape="round">
      Edit
    </ion-button>

    <!-- DATOS  -->
    <div *ngIf="Show">
      <ion-item class="ion-no-padding ion-no-border">
        <ion-label position="stacked" color="gris">Nombre</ion-label>
        <ion-input type="text" placeholder="{{currentUser? currentUser.first_name: ''}}" #nombre></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding ion-no-border">
        <ion-label position="stacked" color="gris">Apellido</ion-label>
        <ion-input type="text" placeholder="{{currentUser? currentUser.last_name: ''}}" #apellido></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding ion-no-border">
        <ion-label position="stacked" color="gris">Numero de teléfono</ion-label>
        <ion-input type="text" placeholder="{{currentUser? currentUser.phone_number: ''}}" #numero></ion-input>
      </ion-item>

      <ion-button (click)="onClickUpdate(nombre, apellido, numero)" (click)="toggleEdit()" expand="block" fill="solid"
        shape="round">
        Guardar
      </ion-button>
    </div>

    <!-- EDITAR DATOS -->
    <div *ngIf="Edit">

      <ion-item class="ion-no-padding ion-no-border">
        <ion-label position="stacked" color="gris">Nombre</ion-label>
        <ion-text>{{currentUser? currentUser.first_name: ''}}</ion-text>
      </ion-item>

      <ion-item class="ion-no-padding ion-no-border">
        <ion-label position="stacked" color="gris">Apellido</ion-label>
        <ion-text>{{currentUser? currentUser.last_name: ''}}</ion-text>
      </ion-item>

      <ion-item class="ion-no-padding ion-no-border">
        <ion-label position="stacked" color="gris">Numero de teléfono</ion-label>
        <ion-text>{{currentUser? currentUser.phone_number: ''}}</ion-text>
      </ion-item>

      <ion-item class="ion-no-padding ion-no-border">
        <ion-label position="stacked" color="gris">Correo Electrónico</ion-label>
        <ion-text>{{currentUser? currentUser.email: ''}}</ion-text>
      </ion-item>

    </div>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="round" expand="block" color="danger" fill="outline" class="ion-padding-vertical vh-btn"
            (click)="logOut()">
            SIGN OUT
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>