<ion-header mode="md">
  <ion-toolbar color="black" class="padding-toolbar">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ipadding centerV">

    <div class="centerVH ion-padding-vertical" style="text-align: center;">
      <div class="bgSelectedImg centerVH" style="column-gap: 10px;">
        <img [src]="currentUser?currentUser.picture_url:'/assets/sampleAvatar.jpg'" class="currentImg" >
        <ion-text color="light" class="ion-no-padding ion-no-margin smalltext">
          <p>{{currentUser?""+currentUser.first_name+" "+currentUser.last_name:'Usuario'}}</p>
          <ion-text style="color: var(--ion-color-darkgreen-tint);">
            <p>{{currentUser?currentUser.ssnumber: "Ingrese su S.S. Number"}}</p>
          </ion-text>
        </ion-text>
      </div>
    </div>

    <div>

      <ion-item class="ion-no-padding ion-no-border" lines="none"> 
        <ion-label class="ion-padding-bottom" color="gris">
          <h3><b>Nombre</b></h3>
          <h2 style="margin-inline: 20px; font-size: larger; color:black;">{{currentUser? currentUser.first_name: ''}}</h2>
        </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-no-border" lines="none"> 
        <ion-label class="ion-padding-bottom" color="gris">
          <h3><b>Apellido</b></h3>
          <h2 style="margin-inline: 20px; font-size: larger; color:black;">{{currentUser? currentUser.last_name: ''}}</h2>
        </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-no-border" lines="none"> 
        <ion-label class="ion-padding-bottom" color="gris">
          <h3><b>Email</b></h3>
          <h2 style="margin-inline: 20px; font-size: larger; color:black;">{{currentUser? currentUser.email: ''}}</h2>
        </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-no-border" lines="none"> 
        <ion-label class="ion-padding-bottom" color="gris">
          <h3><b>Phone Number</b></h3>
          <h2 style="margin-inline: 20px; font-size: larger; color:black;">{{currentUser? currentUser.phone_number: ''}}</h2>
        </ion-label>
      </ion-item>
    </div>

  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" expand="block" color="danger" fill="outline" class="ion-padding-vertical vh-btn" (click)="logOut()">
          SIGN OUT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
