<ion-content class="ion-padding">
  <div class="height-60 centerVertically">
    <div class="height-60 centerVertically"> 
      <ion-img src="assets/pinShape.svg"></ion-img>
      <ion-title class="ion-padding ion-margin" class="titleSize" size="large">Welcome to Vamo'</ion-title>
    </div>
  </div>
  <div class="height-40 centerVertically">  
      <ion-button expand="block" shape="round" color="darkgreen">
        Login With Email
      </ion-button>
      <ion-button expand="block" shape="round" color="medium">
        Create an Account
      </ion-button>
  </div>
</ion-content>
