<ion-content class="ion-padding">
  <div class="height-60 centerVH">
    <div class="height-60 centerVH"> 
      <ion-img src="assets/pinShape.svg"></ion-img>
      <ion-text color="dark">
        <h1><b>Welcome to Vamo'</b></h1>
      </ion-text>
    </div>
  </div>
  <div class="" style="height: 70px"></div>
  <ion-button expand="full" shape="round" color="darkgreen" class="ion-padding-vertical vh-btn" routerLink="/signin">
    Login With Email
  </ion-button>
  <ion-button expand="block" shape="round" color="gray" class="ion-padding-vertical vh-btn"  routerLink="/signup">
    Create an Account
  </ion-button>
  <!-- <div class="height-40 centerVH">  
      <ion-button expand="full" shape="round" color="darkgreen" class="ion-padding-vertical vh-btn" routerLink="/signin">
        Login With Email
      </ion-button>
      <ion-button expand="block" shape="round" color="gray" class="ion-padding-vertical vh-btn"  routerLink="/signup">
        Create an Account
      </ion-button>
  </div> -->
</ion-content>
