<ion-content>
  <!-- <div class="height-100 centerV">
    <ion-text color="darkgreen">
      <h2><b>Sign In</b></h2>
      
    </ion-text>
    <h5>Juega fútbol cuando quieras y en donde quieras. ¡Sé parte del futuro del fútbol!</h5>

    <ion-item class="ion-no-padding ion-no-border" lines="none"> 
      <ion-label position="stacked" class="ion-padding-bottom ultrathin">Email</ion-label>
      <ion-input type="text" placeholder="vamo@soccer.com" class="ion-padding-vertical currentInput"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding ion-no-border ion-padding-top" lines="none"> 
      <ion-label position="stacked" class="ion-padding-bottom">Password</ion-label>
      <ion-input type="password" class="ion-padding-vertical currentInput"></ion-input>
    </ion-item>

    <ion-button  expand="block" shape="round" color="darkgreen" style="margin-top: 10%;" class="ion-padding-vertical vh-btn" routerLink="/profilesetup">
      LOGIN
    </ion-button>
    <div class="centerVH ion-no-padding">
      <div>
        <p>Forgot password?
          <a class="hl-dg"><b>Reset Here</b></a>
        </p>
      </div>
      
    </div>
    <div class="centerVH ion-no-padding ion-margin-top">
        <ion-text color="medium">
          <h6>Don't have an account?</h6>
        </ion-text>
    </div>
    <ion-button expand="block" shape="round" color="gray" class="ion-padding-vertical vh-btn"  routerLink="/signup">
      CREATE AN ACCOUNT
    </ion-button>
  </div> -->


  <div class="ipadding">


    <ion-text color="darkgreen">
      <h2><b>Sign In</b></h2>

    </ion-text>
    <h5>Juega fútbol cuando quieras y en donde quieras. ¡Sé parte del futuro del fútbol!</h5>

    <form>

      <ion-item class="ion-no-padding ion-no-border" lines="none">
        <ion-label position="stacked" class="ion-padding-bottom" color="gris">Email</ion-label>
        <ion-input type="text" class="ion-padding-vertical currentInput" #email required></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding ion-no-border ion-padding-top" lines="none">
        <ion-label position="stacked" class="ion-padding-bottom" color="gris">Password</ion-label>
        <ion-input type="password" class="ion-padding-vertical currentInput" #password required></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" color="darkgreen" style="margin-top: 10%;"
        class="ion-padding-vertical vh-btn" type="submit" (click)="logIn(email, password)">
        LOGIN
      </ion-button>
    </form>
    <div class="centerVH ion-no-padding">
      <div>
        <p>Forgot password?
          <a class="hl-dg" routerLink="/password-reset"><b>Reset Here</b></a>
        </p>
      </div>
    </div>
    <div class="centerVH ion-no-padding ion-margin-top">
      <ion-text color="medium" (click)="router.navigate(['signup'])">
        <h6>Don't have an account?</h6>
      </ion-text>
    </div>
    <ion-button expand="block" shape="round" color="gray" class="ion-padding-vertical vh-btn" routerLink="/signup">
      CREATE AN ACCOUNT
    </ion-button>
  </div>
</ion-content>